
   
   header{
       text-align: middle;
       background-color: blue;

   }
    table{
        text-align: center;
        background-color: pink;
        margin-top:2%;
        margin-bottom: 2%;
    }
    td{
        color:black;
    }
    th{
        color:blue;
    }
    footer{
        text-align:center;
        background-color: blue;
    }
 
